<h3>Vertragdetails</h3>
<div>
  <div>
    <label> <b> ID: </b></label> {{vertrag.id}}
  </div>
  <div>
    <label> <b> Start: </b></label> {{vertrag.start | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label> <b> Ende: </b></label> {{vertrag.end | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label> <b> Deckung: </b></label> {{vertrag.coverage}}
  </div>
  <h3>Katze</h3>
  <div>
    <label> <b> ID: </b></label> {{cat.id}}
  </div>
  <div>
    <label> <b> Name: </b></label> {{cat.name}}
  </div>
  <div>
    <label> <b> Geburtsdatum: </b></label> {{cat.birthdate | date: 'dd/MM/yyyy' }}
  </div>
  <div>
    <label> <b> Umgebung: </b></label> {{cat.environment}}
  </div>
  <div>
    <label> <b> Farbe: </b></label> {{cat.color}}
  </div>
  <div>
    <label> <b> Persönlichkeit: </b></label> {{cat.personality}}
  </div>
  <div>
    <label> <b> Gewicht: </b></label> {{cat.weight}}
  </div>
</div>
