<h3>Vertragdetails</h3>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="wrapper">
  <div class="first-section">
    <div class="form-group">
      <label class="dark-label"> <b> ID: </b></label> <input type="text" class="output-textfield"
                                                             value="{{vertrag.id}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Start: </b></label> <input type="text" class="output-textfield"
                                                                value="{{vertrag.start | date: 'dd/MM/yyyy'}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Ende: </b></label> <input type="text" class="output-textfield"
                                                               value="{{vertrag.end | date: 'dd/MM/yyyy'}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Deckung: </b></label> <input type="text" class="output-textfield"
                                                                  value="{{vertrag.coverage}}" readonly>
    </div>
    <button type="button" class="btn" (click)="goBack()">
      <span class="button-text">&larr;</span>
    </button>
  </div>
  <div class="second-section">
    <h3>Katze</h3>
    <div class="form-group">
      <label class="dark-label">Bild hochladen</label>
    </div>
      <div class="form-group">
        <img [src]="dbImage" style="width: 200px; height: auto">
      </div>
      <div class="form-group">
      <input type="file" (change)="onImageUpload($event)"><br>
    </div>
    <div class="form-group">
      <button (click)="imageUploadAction()" class="btn btn-secondary" style="margin-right: 10px">
        <i class="material-icons" style="margin-right: 5px;">cloud_upload</i>
      </button>
      <button (click)="deleteImage($event, cat.id)" class="btn btn-danger" style="margin-right: 10px">
        <i class="material-icons">delete</i>
      </button>
    </div>
    <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
    <div class="form-group">
      <label class="dark-label"> <b> ID: </b></label> <input type="text" class="output-textfield"
                                                             value="{{cat.id}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Name: </b></label> <input type="text" class="output-textfield"
                                                               value="{{cat.name}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Geburtsdatum: </b></label> <input type="text" class="output-textfield"
                                                                       value="{{cat.birthdate | date: 'dd/MM/yyyy' }}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Umgebung: </b></label> <input type="text" class="output-textfield"
                                                                   value="{{cat.environment}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Farbe: </b></label> <input type="text" class="output-textfield"
                                                                value="{{cat.color}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Persönlichkeit: </b></label> <input type="text" class="output-textfield"
                                                                         value="{{cat.personality}}" readonly>
    </div>
    <div class="form-group">
      <label class="dark-label"> <b> Gewicht: </b></label> <input type="text" class="output-textfield"
                                                                  value="{{cat.weight}}" readonly>
    </div>
  </div>
</div>
