<h3>Vertragdetails</h3>
<div>
  <div>
    <label> <b> ID: </b></label> {{vertrag.id}}
  </div>
  <div>
    <label> <b> Start: </b></label> {{vertrag.start | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label> <b> Ende: </b></label> {{vertrag.end | date: 'dd/MM/yyyy'}}
  </div>
  <div>
    <label> <b> Deckung: </b></label> {{vertrag.coverage}}
  </div>
  <h3>Katze</h3>
  <div class="form-group">
    <label for="file">Bild hochladen</label>
    <input type="file" (change)="onImageUpload($event)">
    <input type="button" (click)="imageUploadAction()" value="Bild hochladen" class="btn1">
  </div>

  <div>
    <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
  </div>
  <div>
    <img [src]="dbImage" style="width: 200px; height: auto; float: right;">
  </div>
  <button (click)="deleteImage($event, cat.id)" class="btn btn-danger" style="margin-right: 10px">
    Foto löschen
  </button>
  <div>
  <div>
    <label> <b> ID: </b></label> {{cat.id}}
  </div>
  <div>
    <label> <b> Name: </b></label> {{cat.name}}
  </div>
  <div>
    <label> <b> Geburtsdatum: </b></label> {{cat.birthdate | date: 'dd/MM/yyyy' }}
  </div>
  <div>
    <label> <b> Umgebung: </b></label> {{cat.environment}}
  </div>
  <div>
    <label> <b> Farbe: </b></label> {{cat.color}}
  </div>
  <div>
    <label> <b> Persönlichkeit: </b></label> {{cat.personality}}
  </div>
  <div>
    <label> <b> Gewicht: </b></label> {{cat.weight}}
  </div>
</div>
