<h3>Vertragdetails</h3>
  <table class = "table table-striped">
    <thead>
    <tr>
      <th> ID </th>
      <th> Katze </th>
      <th> Beginn </th>
      <th> Ende </th>
      <th> Jahresdeckung </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> {{ vertrag.id }} </td>
      <td> {{ cat.name }}</td>
      <td> {{ vertrag.start | date: 'dd/MM/yyyy' }} </td>
      <td> {{ vertrag.start | date: 'dd/MM/yyyy' }} </td>
      <td> {{ vertrag.coverage }} </td>
    </tr>
    </tbody>
  </table>
