
<h2> Neuer Vertrag </h2>
<form (ngSubmit)="createVertrag()">

  <div class = "form-group">
    <label> Beginn </label>
    <input type="date" class="form-control" id="start"
           [(ngModel)] = "vertrag.start" name ="start">
  </div>
  <div class = "form-group">
    <label> Ende </label>
    <input type="date" class="form-control" id="end"
           [(ngModel)] = "vertrag.end" name ="end">
  </div>
  <div class = "form-group">
    <label> Deckung </label>
    <input type="number" class="form-control" id="coverage"
           [(ngModel)] = "vertrag.coverage" name ="coverage">
  </div>
  <h2> Katze </h2>
  <div class = "form-group">
    <label> Name </label>
    <input type="text" class="form-control" id="name"
           [(ngModel)] = "cat.name" name ="name">
  </div>
  <button type= "submit" class ="btn btn-success" >Anlegen</button>
</form>

