.logo-container {
  position: absolute;
  top: 10px; /* Abstand vom oberen Rand */
  right: 10px; /* Abstand vom rechten Rand */
}

/* Weitere Styles für das Bild selbst */
.logo-image {
  width: 150px; /* Breite des Logos */
  height: auto; /* Höhe automatisch anpassen */
}
