.table-section table tbody tr:nth-child(even) {
  background-color: rgba(128, 64, 0, 0.50);
}

.table-section {
  width: 70vw;
  max-height: 50vh; /* Höchstens 2/3 der Bildschirmhöhe */
  overflow-y: auto; /* Fügt eine vertikale Scroll-Leiste hinzu, wenn der Inhalt zu groß ist */
  overflow-x: hidden;  /* Verhindert horizontales Scrollen */

  /* Weitere CSS-Stile hier, je nach Bedarf */
}

.btn{
  background: url('../../assets/images/pfotenbild.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 8em;
  height: 3em;
  padding-top: 26px;
  padding-right: 87px;
}

.material-icons{
  color:white;
}
