.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 50px;
}

.left-panel, .right-panel {
  flex-grow: 1;
  padding: 20px;
  width: 48%;
  box-sizing: border-box;
  margin: 0 1%;
}

.invalid-field {
  border: 0.2em solid #FF0000;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  margin-right: 10px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: calc(100% - 100px);
  padding: 10px;
  box-sizing: border-box;
}

.paw-button {
  background: url('../../assets/images/pfotenbild.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  cursor: pointer;
  margin-left: 150px;
  width: 9em; /* Ändere die Größe nach Bedarf */
  height: 4em;
  padding-top: 28px;
  padding-right: 80px;
}

.paw-button:hover {
  color: #6E2C00;
}

.button-text {
  font-size: 20px;
  color: #ffffff; /* Schriftfarbe auf Weiß ändern */
}

.back-button {
  background: url('../../assets/images/pfotenbild.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  cursor: pointer;
  margin-right: 150px;
  width: 9em; /* Ändere die Größe nach Bedarf */
  height: 4em;
  padding-top: 28px;
  padding-right: 80px;
}

.back-button:hover {
  color: #6E2C00;
}

.auswaehlen-button {
  background: url('../../assets/images/pfotenbild.svg') no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 7.5em;
  height: 2.5em;
  padding-top: 16px;
  padding-right: 58px;
}

.auswaehlen-button:hover {
  color: #6E2C00;
}

.auswaehlen-button-text {
  font-size: 17px;
  color: #ffffff; /* Schriftfarbe auf Weiß ändern */
}


.form-radio label, .form-group label, .dark-label{
  background-color: rgb(128, 64, 0);
  color: #ffffff; /* Schriftfarbe auf Weiß ändern */
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group input {
  margin-right: 5px;
  cursor: pointer;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-radio input {
  margin-right: 5px;
  cursor: pointer;
  background-color: #B88457;
}

.form-radio label{
  background-color: #B88457;
  color: #ffffff; /* Schriftfarbe auf Weiß ändern */
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel, .right-panel {
  flex-grow: 1;
  padding: 20px;
  width: 48%;
  box-sizing: border-box;
  margin: 0 1%;
}
