<h3>Kundendetails</h3>
<div>
  <!--
  <div>
    <img [src]="dbImage" style="width: 200px; height: 200px; float: right;">
  </div>-->
  <div class="form-group">
    <label for="file">Bild hochladen</label>
    <input type="file" (change)="onImageUpload($event)">
    <input type="button" (click)="imageUploadAction()" value="Bild hochladen" class="btn1">
  </div>

  <div>
    <output *ngIf=successResponse class="success"><b>{{successResponse}}</b></output>
  </div>
  <div>
    <img [src]="dbImage" style="width: 200px; height: auto; float: right;">
  </div>
  <button (click)="deleteImage($event, customer.id)" class="btn btn-danger" style="margin-right: 10px">
    Foto löschen
  </button>
  <div>
    <label> <b> ID: </b></label> {{customer.id}}
  </div>
  <div>
    <label> <b> Vorname: </b></label> {{customer.firstname}}
  </div>
  <div>
    <label> <b> Nachname: </b></label> {{customer.lastname}}
  </div>
  <div>
    <label> <b> E-Mail: </b></label> {{customer.email}}
  </div>
  <div>
    <label> <b> Straße: </b></label> {{customer.address.street + " " + customer.address.houseNr}}
  </div>
    <div>
      <label> <b> Stadt: </b></label> {{customer.address.zipCode + " " + customer.address.city}}
    </div>
  <div>
    <label> <b> Land: </b></label> {{customer.address.country}}
  </div>
  <form>
    <button (click)="goToCreateContract(customer.id)" class = "btn btn-info" style="float: right">Neuer Vertrag +</button>
    <div class="container">
      <div class="row">
        <div class="search-customer">
          <input type="text" class="form-control" placeholder="Suche..." name="search" [(ngModel)]="searchTerm" (input)="filterCats()">
        </div>
      </div>
    </div>
  </form>
   <div>
  <label> <b> Gesamter monatlicher Beitrag: </b></label> {{totalMonthlyContribution}}
   </div>

 <table class = "table table-striped">
     <thead>
     <tr>
       <th> ID </th>
       <th> Katze </th>
       <th> Beginn </th>
       <th> Ende </th>
       <th> Jahresdeckung </th>
       <th> Monatl. Beitrag </th>
     </tr>
     </thead>
     <tbody>
       <tr *ngFor = "let vertrag of filteredContracts" [ngClass]="{'vertrag-abgelaufen': isVertragAbgelaufen(vertrag)}">
           <td> {{ vertrag.id }} </td>
           <td> {{ getCatByContractId(vertrag.id).name }}</td>
           <td> {{ vertrag.start | date: 'dd/MM/yyyy' }} </td>
           <td> {{ vertrag.end | date: 'dd/MM/yyyy' }} </td>
           <td> {{ vertrag.coverage }} </td>
           <td> {{ vertrag.quote }} </td>
         <td>
           <button (click)="deleteVertrag($event, vertrag.id)" [disabled]="isVertragAbgelaufen(vertrag)" class="btn btn-danger" style="margin-left: 10px">
             Löschen
           </button>
           <button (click)="vertragDetails(vertrag.id)" [disabled]="isVertragAbgelaufen(vertrag)" class="btn btn-danger" style="margin-left: 10px">
             Details
           </button>
           <button (click)="updateVertrag(vertrag.id)" [disabled]="isVertragAbgelaufen(vertrag)" class="btn btn-info" style="margin-left: 10px">
             Update
           </button>

         </td>
       </tr>
     </tbody>
   </table>
</div>
